.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 40px;
}
.block-size {
  width: 40px;
  height: 40px;
}
.grey-background {
  background-color: grey !important;
}
.obstruction-block {
  background-color: black;
  border: 1px solid black;
}
.sub-heading {
  display: block;
  margin-bottom: 40px;
}

.drag-footer {
  display: flex;
  margin-top: 30px;
}
.no-pointer-events {
  pointer-events: none;
}
.hovered {
  background-color: gray;
}

@media screen and (max-width: 768px) {
  .block-size {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .block-size {
    width: 20px;
    height: 20px;
  }
}
